<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>HomeIOT</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'anonymous/anonymous' %>


  </head>

  <body>

  <div class="d-flex bg-info text-white">
    <div class="p-2 mr-auto"><strong>HomeIOT Management v. 2019.1</strong></div>
    <% if user_signed_in? %>
      <div class="p-2"><%= link_to current_user.email, edit_user_registration_path, class: "text-white" %></div>
      <div class="p-2"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'text-white'  %></div>
     <% end %>
  </div>


  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-bottom justify-content-center">
    <a class="navbar-brand" href="#">TYB SYSTEM ©<%= Time.now.year %></a>
  </nav>

  <div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div style="margin-top: 30px">
    <%= yield %>
    </div>
  </div>


  </body>
</html>
